apiVersion: v1
kind: Service
metadata:
  name: grafana-internal
spec:
  type: ClusterIP
  selector:
    app: grafana-internal
  ports:
  - name: grafana
    port: 3000
    targetPort: 3000
    protocol: TCP
