kind: Kustomization

namespace: data-analytics-test

labels:
- includeSelectors: false
  includeTemplates: true
  pairs:
    app.kubernetes.io/name: pgo
    app.kubernetes.io/version: 5.8.5
- includeSelectors: true
  includeTemplates: true
  pairs:
    postgres-operator.crunchydata.com/control-plane: data-analytics-test

resources:
- ../crd
- ../rbac/namespace
- ../manager

components:
- ../components/images-by-tag
- ../components/single-namespace
