kind: Kustomization

namespace: data-analytics-test

labels:
- includeSelectors: false
  includeTemplates: true
  pairs:
    app.kubernetes.io/name: pgo
    app.kubernetes.io/version: 5.8.5
- includeSelectors: true
  includeTemplates: true
  pairs:
    postgres-operator.crunchydata.com/control-plane: data-analytics-test

resources:
- ../crd
- ../rbac/cluster
- ../manager

components:
- ../components/images-by-tag

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: pgo
    spec:
      template:
        spec:
          containers:
          - name: operator
            env:
            - name: PGO_FEATURE_GATES
              value: ""
